@import url(global.css);

#main {
  display: flex;
}

.tile-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 20px;
  padding: 30px;
  margin: 30px;
  width: 100%;
  height: 300px;
}

.tile-big {
  grid-row: 1 / 1;
  border-radius: 0.1em;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  min-width: fit-content;
  min-height: fit-content;
}

.tile-big:hover {
  transform: scale(1.07);
}

.tile-heading {
  font-weight: bold;
  font-size: 30px;
  margin: 20px;
  color: white;
}

#tile-admin {
  background-image: url(../resources/images/tile-admin.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: black solid 1.5px;
  background-color: white;
}

#tile-admin h2 {
  color: black;
}

#tile-books {
  background-image: url(../resources/images/tile-books.jpeg);
}
