html {
  font-family: "Dongle", sans-serif;
  font-family: "Merriweather", serif;
}

body {
  padding: 0px 300px 300px 300px;
  background-color: beige;
}

/* #region Navigation Bar */
nav {
  background-color: rgb(64, 64, 221);
}

#navbar-menu {
  display: flex;
  justify-content: center;
  margin: 0 0;
  padding: 0 0;
}

.navbar-menu-item {
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  height: 100%;
  min-width: 104px;
  text-align: center;
}

.navbar-menu-item a {
  color: white;
}

.navbar-menu-item:hover {
  background-color: rgb(38, 38, 124);
}
/* #endregion */

.wrapper {
  display: flex;
  /* border-style: solid; */
}

.wrapper-sub {
  border-style: solid;
}

#main {
  height: 1500px;
  display: flex;
  flex-direction: row;
}

#main > div {
  width: 50%;
}

#header-wrapper {
  display: block;
}

#header-photo {
  width: 100%;
  display: block;
}
